.jhp input[type="submit"] {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: whiteSmoke;
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    border: 1px solid gainsboro;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    color: #666;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    margin: 11px 6px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
}

.jhp input[type="submit"]:hover{
    background-image:-webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
    background-image:-webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);
    background-color:#f8f8f8;
    background-image:linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image:-o-linear-gradient(top,#f8f8f8,#f1f1f1);
    border:1px solid #c6c6c6;box-shadow:0 1px 1px rgba(0,0,0,0.1);
    color:#333
}
    
.jhp input[type="submit"]:focus{
    border:1px solid #4d90fe;outline:none
}
